<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maybe.demo.mapper.UserInfoMapper">

    <select id="getUserInfoLimit" resultType="com.maybe.demo.entity.UserInfo">
        SELECT userId,userName,age,nationality from bigdata.user_info limit 3
    </select>

</mapper>