<!DOCTYPE html>
<html lang="en">
<!--http://heavy_code_industry.gitee.io/code-rework/pro001-javaweb/lecture/chapter04/verse05.html-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
</head>

<body>

<div id="app01">
    <ul>
        <!-- 使用v-for语法遍历数组 -->
        <!-- v-for的值是语法格式是：引用数组元素的变量名 in Vue对象中的数组属性名 -->
        <!-- 在文本标签体中使用{{引用数组元素的变量名}}渲染每一个数组元素 -->
        <li v-for="fruit in fruitList">{{fruit}}</li>
    </ul>
</div>


<div id="app">
    <table border="1" width="400" cellpadding="4" cellspacing="0">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>专业</th>
        </tr>
        <tr v-for="employee in employeeList">
            <td>{{employee.empId}}</td>
            <td>{{employee.empName}}</td>
            <td>{{employee.empAge}}</td>
            <td>{{employee.empSubject}}</td>
        </tr>
    </table>
</div>

</body>

<script>
    // 创建Vue对象，挂载#app这个div标签
    var app01 = new Vue({
        "el": "#app01",
        "data": {
            "fruitList": [
                "apple",
                "banana",
                "orange",
                "grape",
                "dragonfruit"
            ]
        }
    });

    var app = new Vue({
        "el": "#app",
        "data": {
            "employeeList": [
                {
                    "empId": 11,
                    "empName": "tom",
                    "empAge": 111,
                    "empSubject": "java"
                },
                {
                    "empId": 22,
                    "empName": "jerry",
                    "empAge": 222,
                    "empSubject": "php"
                },
                {
                    "empId": 33,
                    "empName": "bob",
                    "empAge": 333,
                    "empSubject": "python"
                }
            ]
        }
    });
</script>

</html>